@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './fonts.scss';

.yellow{ background-color: yellow }
.orange{ background-color: orange }
.blue{ background-color: blue }
.green{ background-color: green }

.shake {
  animation: shake 2s  infinite cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.interactive-content{
	& img{
		max-width: 626px;
		width:90%;
	}

	& .on-engine{
		width: 128px;
		height: 128px;
	}

	& .head-text{
		color:#090909;
		font-family: $font-vw-bold;
	}

	& .p-regular{
		font-family: $font-vw-regular;	
	}

	& .t-grey{
		color: #BFBFBF;
	}

}

.footer-text{
	color:#BFBFBF;
	font-family: 'Arial';
	font-size: 12px;
}

.vh92{
	height: 92vh;
	min-height: 640px;
}